.App {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

}

.Navigation{
  background-color: rgb(25, 72, 118);
  padding: 50px;
  width: 100%;
}

.btn-div {
  text-align: center;
  width: 100%;
}

.btn {
  width: 100px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: black;
  margin-right: 10px;
}

table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50vmax;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  align-self: center;
}

th{
  border: 1px solid black;
  border-right: 1px;
  text-align: center;
}

td{
  border: 1px solid black;
  border-right: 1px;
  text-align: center;
}

tr{
  border: 1px solid black;
  border-right: 1px;
  text-align: center;
}

.btn-round{
text-align: center;
margin-top: auto;
color:brown;
background-color: white;
border:transparent;
}

.main {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-left:auto;
  margin-right:auto;
  height:50%; 
  width: 50%;
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.primary{
  background-color: #000000;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 6px;
  font-size: 20px;
  margin-left: 500px;
  color: rgb(255, 255, 255);
  width: fit-content;
}

.secondary{
  color: rgb(255, 255, 255);
  background-color: #060606;
  padding: 1px;
  font-size: medium;
}

.add{
  display: block;
  margin-left: 50%;
  margin-right: 50%;
}

.card{
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-left:auto;
  margin-right:auto;
  height: 100%;
}

label {
  display: inline-block;
  width: 250px;
  color: #777777;
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  float:left;
  align-items: center;
  width: 100vw;
  height: 100vh;;
}

.form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.branding{
  text-align: center;
  justify-content: center;

  align-items:center;
}

.add1{
  margin-left: auto;
}

.card-header{
  padding-left: 40%;
  background-color: rgb(3, 3, 61);
 
}

.nav-item{
  border-radius: 6px;
  margin: 4px;
  color: #fff;
  font-size: larger;
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
}

li.nav-item:active{
  background-color: #000;
}

.Hamburger{
  color: #fff;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-right: 100%;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 15px;
  color: #fff;
  
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #000;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background:rgb(3, 3, 61);;
}

.react-calendar { 
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
 }

 .react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
 }

 .dropdown-item{
  color:rgb(13, 11, 11);
 }

 .logout{
  margin-left: 90%;
  margin-top: 20px;
 }

 .menu-item1{
  background-color: transparent;
  width: fit-content;
  margin-left: 60px;
  border-radius: 2px;
  color: #ffffff;
 }

 .logout{
  padding-right: 1%;
 }