.App {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

}
.Navigation{
  background-color: rgb(25, 72, 118);
  padding: 50px;
  width: 100%;
}

.btn-div {
  text-align: center;
  width: 100%;
}
.btn {
  width: 100px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: black;
  margin-right: 10px;
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 50%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  align-self: center;
}

th{
  border: 1px solid black;
  border-right: 1px;
  text-align: center;
}

td{
  border: 1px solid black;
  border-right: 1px;
  text-align: center;
}

tr{
  border: 1px solid black;
  border-right: 1px;
  text-align: center;
}

.btn-round{
text-align: center;
margin-top: auto;
color:brown;
background-color: white;
border:transparent;
}

.main {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-left:auto;
  margin-right:auto;
  height:50%; 
  width: 50%;

}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.primary{
  background-color: #000000;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 6px;
  font-size: 20px;
  margin-left: 500px;
  color: rgb(255, 255, 255);
  width: fit-content;
}
.secondary{
  color: rgb(255, 255, 255);
  background-color: #060606;
  padding: 1px;
  font-size: medium;
}

.add{
  display: block;
  margin-left: 50%;
  margin-right: 50%;
  cursor: pointer;
}


label {
  display: inline-block;
  width: 250px;
  color: #777777;
  margin-bottom: 10px;
}
input {
  padding: 5px 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  float:left;
  align-items: center;
  width: 100vw;
  height: 100vh;;
}

.form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.branding{
  text-align: center;
  justify-content: center;

  align-items:center;
}

.card{
  cursor: pointer;
}