.App {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;

}

.btn-div {
  text-align: center;
  width: 100%;
}

.btn {
  width: 100px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: black;
  margin-right: 10px;
}
.btn-btn-primary{
  width:25%;
  margin-left:22px;
  height: 30px;
  border-radius: 6px;
  background-color: #170553;
  color: #fff;
  border: #fdfdfd;
}

.listed-leave{
  margin-right: 200px;
 float: right;
margin-top:0%;
  width: 30vmax;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;

}
.team{
  margin-right: 200px;
 float: right;
margin-top:0%;
  width: 30vmax;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;

}
.allocation {

    margin-left: 400px;
   
  margin-top:0%;
    width: 60vmax;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  
  }



th{
  border: 1px solid black;
  border-right: 1px;
  text-align: center;
}

td{
  border: 1px solid black;
  border-right: 1px;
  text-align: center;
}

tr{
  border: 1px solid black;
  border-right: 1px;
  text-align: center;
}

.btn-round{
text-align: center;
margin-top: auto;
color:brown;
background-color: white;
border:transparent;
}

.main {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-left:auto;
  margin-right:auto;
  height:50%; 
  width: 50%;
}

h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bm-menu-wrap{
 position: absolute;
 top: 0;
 left: 0;

}
.bm-overlay{
  position: absolute;
  top: 0;
  left: 0;
}
.primary{
  background-color: #000000;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 6px;
  font-size: 20px;
  margin-left: 500px;
  color: rgb(255, 255, 255);
  width: fit-content;
}

.secondary{
  color: rgb(255, 255, 255);
  background-color: #060606;
  padding: 1px;
  font-size: medium;
}

.add{
  margin-left: 45%;
  margin-right: 45%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  cursor: pointer;
}

.edit{
  cursor: pointer;
}

.delete{
  cursor: pointer;
}

.card-text{
  cursor: pointer;
}

.notChecked{
  display: none;
}

.checked{
  display: block;
}

.nav-nav-tabs-card-header-tabs{
  justify-content: center;  
  display: flex;
}

.list-container{
  margin-left: 5%;
  margin-right: 5%;
}

.card{
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-left:auto;
  margin-right:auto;
  height: 100%;
  width: fit-content;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;

}

label {
  display: inline-block;
  width: 250px;
  color: #777777;
  margin-bottom: 10px;
}

input {
  padding: 5px 10px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  float:left;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding-left: 35%;
  padding-top: 5%;
}

.form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.branding{
  text-align: center;
  justify-content: center;

  align-items:center;
}

.add1{
  margin-left: auto;
}

.header{
 background-color: #160354;
 width: 100%;
 height: 10vh;
 
  margin-top: 0%;
  padding-top: 1%;

 
}

.body{
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
}

.card-body{
  text-align: center;
}

.nav-item{
  color: rgb(0, 0, 0);
  font-size: larger;
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
  margin-right: 20px;
  background-color: #fdfdfd;
}




.navbar
{
  position: relative;
  display: flex !important;
  flex-direction: row;
  justify-content: center;

 
  
  
}

.card-header
{
  width: 100% !important;
  display: block;
}

.head
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: white;
}



.Hamburger{
  color: rgb(255, 255, 255);
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-right: 100%;
}

.bm-item {
  display: flex;
  margin-top: 4vh;
margin-left: 5vw;
  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 15px;
  color: rgb(240, 245, 248);
  
}

.form-group-mt-3{
  padding-right: 5%;
  padding-left: 5%;
}



/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #fff;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(9, 1, 52);
  padding-right: 40px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background:rgb(3, 3, 61);;
}

 .dropdown-item{
  color:rgb(13, 11, 11);
 }


 .logout{
  float: right;
  cursor:pointer;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;

 }

 .menu-item1{
  width: fit-content;
  margin-left: 60px;
  border-radius: 6px;
  color: #000000;
  background-color: #ababac;
  padding: 4px;
 }

 .menu-item1:hover{
  color:red
 }

 .accordion{
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  margin-top: 1%;
  height: 100%;
  width: 98%;
 }

 .logo{
  margin-left: 5vw;
  margin-top: 0.5vw;
 }

 .title{
  text-align: center;
  color:#170553
 }

 .return{
  padding-left: 1px;
 }

 .border{
  width:50%;
  text-align: center;
  padding-top: 40px;
  margin-top: 25px;
 }

.list{
  padding-right: 60%;
}

.story{
 text-align: center;
}

.tab{
  margin-left: 40%;
  margin-right: auto;
}

.accList
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-grid-gap-2-mt-3{
  padding-left: 40%;
}
.form-control-mt-1{
margin-left: 5%;
margin-right: 5%;
/* padding-left: 45%; */
width:90%;

}
.name{
  color:#fdfdfd;
  text-align: center;
}

.calendar {

  float:left;
  /* flex-direction: column; */
  gap: 20px;
  padding-bottom: 0%;
  padding-left: 5vw;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.highlight{
 
  color: rgb(243, 3, 3) !important;
}

html {
  height: 90%;
}

